<style>
  .movie-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://image.tmdb.org/t/p/original{{tv.backdrop_path}}") no-repeat center center;
  }
</style>
<div class="container-fluid movie-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="https://image.tmdb.org/t/p/w500{{tv.poster_path}}" alt="{{tv.name}} Poster"
          class="desc-poster" />
      </div>
      <div class="col-md-9">
        <div class="desc-movie">
          <div class="desc-header">
            <span class="desc-title">{{tv.name}}</span>
            <span class="desc-tagline">{{tv.tagline}}</span>
            <span class="desc-sumary">{{tv.certification}},
              {{tv.first_air_date}}({{tv.original_language}})
              {{#each tv.genres}}
              {{this.name}},
              {{/each}}
              {{tv.episode_run_time.[0]}} phút
            </span>
          </div>
          <div class="desc-score">
            <p><strong>Điểm trung bình:</strong> {{tv.vote_average}} / 10</p>
            <p><strong>Lượt đánh giá:</strong> {{tv.vote_count}}</p>
          </div>
          <div class="desc-interact">
            <div class="desc-interact-btn">
              <i class="fa-solid fa-list"></i>
              Add to list
            </div>
            <div class="desc-interact-btn">
              <i class="fa-solid fa-heart"></i>
              Yêu thích
            </div>
            <div class="desc-interact-btn">
              <i class="fa-solid fa-bookmark"></i>
              Xem sau
            </div>
            <div class="desc-interact-btn">
              <i class="fa-solid fa-play"></i>
              Xem ngay
            </div>
          </div>
          <div class="desc-movie-info">
            <span class="desc-movie-title">Thông tin phim</span>
            <span class="desc-overview">{{tv.overview}}</span>

          </div>
          <div class="desc-budget-revenue">
            <span><strong><i class="fa-solid fa-dollar-sign"></i>Ngân sách:</strong>
              {{tv.budget}} USD
            </span>
            <span><strong><i class="fa-solid fa-chart-column"></i>Doanh thu:</strong>
              {{tv.revenue}} USD
            </span>
          </div>
          <div class="desc-production">
            <span class="desc-movie-title">Thông tin sản xuất</span>
            <div class="desc-country-company">
              <span><strong>Công ty sản xuất:</strong>
                {{#each tv.production_companies}}
                <span>{{this.name}}</span>{{#unless @last}}, {{/unless}}
                {{/each}}
              </span>
              <span><strong>Quốc gia sản xuất:</strong>
                {{#each tv.production_countries}}
                <span>{{this.name}}</span>{{#unless @last}}, {{/unless}}
                {{/each}}
            </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="trailer-section">
    <div class="row cast-scroll">
      <div class="col-12 ">
        <h3 class="title-h3" style="margin-bottom: -5px;">Trailer phim</h3>
      </div>
    </div>
    {{#if tv.videos.length}}
    <div class="row cast-scroll">
      <div class="trailer ">
        {{#each tv.videos}}
        <div class="col-md-4 col-sm-6 col-4">
          <iframe src="https://www.youtube.com/embed/{{this.key}}" allowfullscreen></iframe>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>Hiện tại chưa có trailer của phim.</p>
    </div>
    {{/if}}
  </div>
</div>


<div class="container ">
  <div class="casting-section">
    <div class="row cast-scroll">
      <div class="col-12">
        <h3 class="title-h3" style="margin-bottom: -5px;">Diễn viên</h3>
      </div>
    </div>
    <div class="row cast-scroll">
      <div class="col-md-12">
        <div class="cast-scroll">
          {{#if tv.cast.length}}
          {{#each tv.cast}}
          <a href="/person/{{this.id}}" class="a-none-css">
            <div class="cast-item">
              <img src="https://image.tmdb.org/t/p/w500{{this.profile_path}}" alt="{{this.name}}"
                class="rounded-circle" />
              <p>{{this.name}}</p>
              <p><i>{{this.character}}</i></p>
            </div>
          </a>
          {{/each}}
          {{else}}
          <p>Chưa có thông tin về diễn viên</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <!-- Crew Section -->
  <div class="row">
    <div class="casting-section">
      <div class="col-md-12">
        <h3>Đoàn làm phim</h3>
        <div class="cast-scroll">
          {{#if tv.crew.length}}
          {{#each tv.crew}}
          <a href="/person/{{this.id}}" class="a-none-css">
            <div class="cast-item">
              <img src="https://image.tmdb.org/t/p/w500{{this.profile_path}}" alt="{{this.name}}"
                class="rounded-circle" />
              <p>{{this.name}}</p>
              <p><i>{{this.job}}</i></p>
            </div>
          </a>
          {{/each}}
          {{else}}
          <p>Chưa có thông tin về đoàn làm phim</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="casting-section">

      <div class="col-md-12">
        <h3>Đánh giá phim</h3>
        {{#if tv.reviews.length}}
        <div class="reviews-scroll">
          {{#each tv.reviews}}
          <div class="review-item">
            <p><strong>{{this.author}}</strong>
              <span class="text-muted">({{this.created_at}})</span>
            </p>
            <p>{{this.content}}</p>
          </div>
          {{/each}}
        </div>
        {{else}}
        <p>Chưa có đánh giá cho chương trình này.</p>
        {{/if}}
      </div>
    </div>
  </div>

</div>